html, body {
    background-color: #030325;
    margin: 0;
    height: 100%;
}

a {
    text-decoration: none;
    color: black;
}

h1, h2 {
    margin: 0;
    padding: 10px;
    flex: 1;
}

button {
    background-color: darkgray;
    color: white;
    font-size: 30px;
}

table {
    background-color: white;
}

h2 {
    color: white;
}

.centercolumn {
    display: flex;
    flex-direction: column;
    float: left;
    width: 50%;
    padding: 0;
    height: 100%;
}

.container {
    background-color: #030325;
    display: grid;
    flex: 1;
    grid-template-columns: 50% 50%;
}

.details {
    background-color: white;
    grid-column-start: 1;
    height: fit-content;
    padding: 1px;
    grid-row-start: 1;
}

.machinery {
    grid-column-start: 2;
    grid-row-start: 1;
}

.chiefs {
    grid-column-start: 1;
    grid-row-start: 1;
}

.machinist {
    grid-column-start: 1;
}

.member {
    grid-column-start: 1;
}

.member-card {
    width: 20%;
    height: 20%;
    color: white;
    display: inline-block;
}

.rightcolumn {
    float: left;
    width: 50%;
    background-color: white;
    height: 100%;
}

.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}

.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
}

.sidenav a:hover {
    color: #f1f1f1;
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

@media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
}
